<div class="col-sm-12 col-lg-4 mb-3"> 
<div id="board.id">
  <div class="card">
    <%= image_tag board.image.thumb.url %>
    <div class="card-body">
      <h4 class="card-title">
        <%= link_to board.title, board_path(board) %>
      </h4>
      <% if current_user.my_board?(board) %>
      <div class='mr10 float-right'>
        <%= link_to edit_board_path(board), id: "button-edit-#{board.id}" do %>
          <%= icon 'fa', 'pen' %>
        <% end %>
        <%= link_to board_path(board), id: "button-delete-#{board.id}", method: :delete, data: {confirm: 'Are you sure?'} do %>
          <%= icon 'fas', 'trash' %>
        <% end %>
        </div>
      <% else %>
        <%= render 'bookmark_button', board: board %>
      <% end %>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="far fa-user"></i><%= board.user.decorate.full_name %></li>
        <li class="list-inline-item"><i class="far fa-calendar"></i><%= l board.created_at, format: :long %></li>
      </ul>
      <p class="card-text"><%= board.description %></p>
    </div>
  </div>
</div>
</div>
    
