<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title')%></h1>

        <%= form_with model: @board, local: true do |form| %>

            <p><%= form.label :title %><br>
            <%= form.text_field :title,class: "form-control"  %> 
            </p>
            
            <p><%= form.label :description %><br>
            <%= form.text_area :description, class: "form-control" ,rows: 10, style: "height: 200px" %> 
            </p>
            
            <p><%= form.submit %> 
            </p>
            
        <% end %>

    </div>
  </div>
</div>