<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @board.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @board.description %>
</p>

<% unless @board.comments.count.zero? %>
  <hr>

  <p>
    <strong>Comment:</strong>
    <%= "#{@board.comments.count}comments" %>
  </p>

  <p>
    <%= render @board.comments %>
  </p>
<% end %>

<p>
  <%= render 'comments/form', comment: @comment %>
</p>

<%= link_to 'Edit', "/boards/#{@board.id}/edit" %> |
<%= link_to 'Back', boards_path %>
