<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1>掲示板詳細</h1>
      <!-- 掲示板内容 -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-3'>
              <%= image_tag @board.image.thumb.url, class:"card-img-top img-fluid" %>
            </div>
            <div class='col-md-9'>
              <h3 style='display: inline;'><%= @board.title %></h3>
              <ul class="list-inline">
                <li class="list-inline-item"><%= @board.user.decorate.full_name %></li>
                <li class="list-inline-item"><%= l @board.created_at, format: :long %></li>
              </ul>
            </div>
          </div>
          <p><%= @board.description %></p>
        </div>
      </article>
    </div>
  </div>

  <!-- コメントフォーム -->
  <p>
    <%= render 'comments/form' ,comment: @comment %>
  </p>

  <% unless @board.comments.count.zero? %>
  <hr>

  <p>
    <strong>Comment:</strong>
    <%= "#{@board.comments.count}comments" %>
  </p>

  <p>
    <%= render @board.comments %>
  </p>
<% end %>

 